{% extends 'layout.twig' %}

{% block body %}
<h1>Dashboard</h1>
<ul>
    <li><a href="/symblog/users/add">Add Blog</a></li>
    <li><a href="/symblog/blogs/add">Add User</a></li>
</ul>
<br><br>
<a href="/symblog/users/logout">Logout</a>
{% endblock %}