{% extends 'layout.twig' %}
{% block body %}
    <article class="blog">
    <div style="color: green">
        {{responseMessage}}
    </div>
    <h3>Login</h3>
    <form name="login" method="post" action="../users/login" enctype="multipart/form-data">
        <div id="enquiry">
            <div>
                <label for="enquiry_email" >Email</label>
                <input type="text" id="enquiry_email" name="email" required/>
            </div>
            <div>
                <label for="enquiry_password" >Password</label>
                <input type="password" id="enquiry_password" name="password" required="required"/>
            </div>
                <input type="submit" id="enquiry_save" name="enquiry[save]">
        </div>
    </form>
    </article>
{% endblock %}